{% load i18n native cms_tags menu_tags sekizai_tags thumbnail webdesign compress chameleon %}
{% set_theme_id bluesky_theme %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lxml:lang="{{ LANGUAGE_CODE }}" ang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}{{ object.title }}{% endblock %} {{ request.current_page.get_title }}</title>

        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% endif %}{% endblock %}"/>

        <!-- http://www.w3.org/2005/10/howto-favicon -->
        <!-- Place favicon.ico and apple-touch-icon.png in the STATIC_URL directory -->
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico"/>
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico"/>
        {% block link %}{% endblock %}

        <!-- DNS Prefetch for speedy Google CDN access (JQuery/Ajax) -->
        <link rel="dns-prefetch" href="//ajax.googleapis.com">

        <!-- IE9+ Pinning support -->
        <meta name="application-name" content="OddOtterCo">
        <meta name="msapplication-tooltip" content="Odd Otter Co. Netwoks, applications and design">
        <meta name="msapplication-starturl" content="http://oddotter.com?pinned=true">

        <!-- Facebook OpenGraphs support (Twitter also) -->
        <meta property="og:title" content="OddOtter">
        <meta property="og:description" content="Odd Otter Co. Netwoks, applications and design">
        <meta property="og:image" content="{{ STATIC_URL }}icon.png">

        <!-- Mobile viewport optimized: h5bp.com/viewport -->
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">

        <!--[if lte IE 9]><link rel="stylesheet" href="{{ THEME_URL }}css/ie.css" type="text/css" media="screen" /><![endif]-->

		{% if debug %}
            <!-- DEBUG MODE IS ON! ----------------------------------------------------------------------->
            <!--- THEME: {{ THEME_NAME }}:{{ THEME_URL }} --->
            <!--- DEBUG STATE: {{ debug }} --->
            <!--- REMOTE ADDRESS: {{ request.META.REMOTE_ADDR }} ---->

            <link href="{{ THEME_URL }}css/normalize.css" media="screen" rel="stylesheet" type="text/css"/>
		    <link href="{{ THEME_URL }}css/menu.less" media="screen" rel="stylesheet/less" type="text/css"/>
		    <link href="{{ THEME_URL }}css/style.less" media="screen" rel="stylesheet/less" type="text/css"/>
            <script type="text/javascript">
                less = {
                    env: "development", // or "production"
                    async: false,       // load imports async
                    fileAsync: false,   // load imports async when in a page under
                    // a file protocol
                    poll: 1000,         // when in watch mode, time in ms between polls
                    functions: {},      // user functions, keyed by name
                    dumpLineNumbers: "comments", // or "mediaQuery" or "all"
                    relativeUrls: false// whether to adjust url's to be relative
                    // if false, url's are already relative to the
                    // entry less file
                    //rootpath: ":/a.com/"// a path to add on to the start of every url
                    //resource
                };
            </script>
            <script src="{{ THEME_URL }}js/less-1.3.3.min.js"  type="text/javascript"></script>
		{% else %}
            <!--- PRODUCTION MODE ------------------------------------------------------------------------>
            {% compress css %}
                <link href="{{ THEME_URL }}css/normalize.css" media="screen" rel="stylesheet" type="text/css"/>
                <link href="{{ THEME_URL }}css/menu.less" media="screen" rel="stylesheet" type="text/less"/>
                <link href="{{ THEME_URL }}css/style.less" media="screen" rel="stylesheet" type="text/less"/>
		    {% endcompress %}
		{% endif %}

        {% render_block "css" %}

        <!-- All JavaScript at the bottom, except this Modernizr build.
           Modernizr enables HTML5 elements & feature detects for optimal performance.
           Create your own custom Modernizr build: www.modernizr.com/download/ -->
        <script src="{{ THEME_URL }}js/modernizr.js"></script>

        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body class="{% block tpl_id %}base{% endblock tpl_id %}" class="{{ LANGUAGE_CODE }}">
        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <header>
            {% cms_toolbar %}
        </header>

        <div class="container">

            <div class="col-group" id="header">
                <div class="col-full">
                    <div class="col-12">
                        <div id="logo">{% block logo %}{% placeholder logo inherit or %}
                            <img src="{{ THEME_URL }}img/logo.png">
                        {% endplaceholder %}{% endblock %}</div>
                    </div>
                    <div class="col-4">
                        <form action="http://www.google.com/search" method="get" id="qs" style="margin-bottom: 0">
                            Search&nbsp;
                            <input name="q" id="q" class="sp2_field" type="text">
                            <input name="sitesearch" value="" style="display:none;" type="radio">
                            <input name="sitesearch" value="nwcleanair.org" checked="checked" style="display:none;" type="radio">
                            <input src="{{ THEME_URL }}img/btn_go.gif" name="submit" alt="submit" style="margin-top:10px;" border="0" height="10" type="image" width="19">
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-group" id="mainbody">

                <div class="col-3">
                    <div id="menu" class="col-content">
                        <ul id="menu-bar">
                            <li><a href="/">Home</a></li>
                            {% show_menu 1 100 100 100 %}
                        </ul>
                    </div>
                </div>

                {% block mainbody %}

                    <div class="col-9">
                        <div class="col-content" id="content">
                            {% block content %}
                                {% placeholder content or %}
                                    {% include "bluesky_theme/sample.html" %}{% endplaceholder %}
                            {% endblock content %}
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="col-content" id="sidebar">
                            {% block sidebar %}
                                {% placeholder sidebar or %}
                                    <h2>SideBar</h2>
                                    <p>Sidebar content follows the same rules and has the same options as the main content area.
                                        Typically this area is for hotlinks, embedded menus or banners that relevant to the primary content.</p>
                                    <p>Additionally, Text plugins in this area all fit within a single graphical background which will visually group the content.</p>
                                    <h2>Supplemental</h2>
                                    <p>The supplemental section, just below here, can be used optionally.
                                        Each text plugin that you add to the Supplemental area will have it's own graphical encapsulation to keep it sepperate from other content.

                                    <p>Supplemental content follows the same rules and has the same options as the main content area.
                                        Typically this area is for hotlinks, embedded menus or banners that relevant to the primary content.</p>
                                    <p>Additionally, Text plugins in this area all fit within a single graphical background which will visually group the content.</p>
                                {% endplaceholder %}
                            {% endblock sidebar %}
                        </div>

                        <div class="col-content" id="supplemental">
                            {% placeholder supplemental inherit %}
                        </div>
                    </div>
                {% endblock mainbody %}

            </div>
            <div class="col-group">
                <div class="col-full" id="footer">&nbsp;</div>
            </div>
        </div>
        <footer>
            <div class="col-group footer_container">
                <div class="col-group">
                    <div class="col-full">

                        <div id="copyright" class="col-half">
                            {% placeholder "copyright" inherit or %}
                                <p>Copyright (now)</p>
                            {% endplaceholder %}
                        </div>
                        {% block "byline" %}
                            <div id="byline"  class="col-half">Site by <a target="_blank" href="http://pivotlab.com/" class="target_blank">Pivotlab</a></div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </footer>


        <!-- Keep JavaScript at the bottom for fast page loading -->

        <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
        <script type="text/javascript" src="{{ THEME_URL }}js/css3-mediaqueries.js"></script>

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
        <script>window.jQuery || document.write('<script src="{{ THEME_URL }}js/jquery.min.js"><\/script>')</script>

        <!-- Piwik -->
        <script type="text/javascript"> 
          var _paq = _paq || [];
          _paq.push(["setDomains", ["*.oddotter.com","*.www.oddotter.com","*.ottercloud.net","*.www.ottercloud.net",]]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://oddotter.com/piwik//";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();

        </script>
        <noscript><p><img src="http://oddotter.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Code -->


        {% if ANALYTICS %}
            <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
                 mathiasbynens.be/notes/async-analytics-snippet -->
            <script>
              var _gaq=[['_setAccount','{{ ANALYTICS_CODE }}'],['_trackPageview']];
              (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
              g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
              s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endif %}

        {% render_block "js" %}
    </body>

</html>
