{% extends "bluesky_theme/bluesky.html" %}
{% load i18n native cms_tags menu_tags sekizai_tags thumbnail webdesign %}

{% block mainbody %}

    <div class="col-13">
        <div class="col-content" id="content">
            {% block content %}
                {% placeholder content or %}
                    {% include "bluesky_theme/sample.html" %}{% endplaceholder %}
            {% endblock content %}
        </div>
    </div>

{% endblock mainbody %}