@import "elements.less";
@import "ottermixins.less";
@import "fonts.less";

// Config
@columns:       16;
//@maxWidth:	{{ PAGE_WIDTH }}px;
@maxWidth:	    1140px;
@minWidth:	    600px;
@gutterWidth:   10px;

// Colors
//@clrWarning: {{ WARNING_COLOR }};
@clrBackground: #FFFFFF;
@clrDark: #3074C0;
@clrMedium: #E6EEF7;
@clrLight: #EFF4FA;
@clrBorder: #CCCCCC;
@clrText: #6D6E70;
@clrTextDk: #454648;
@clrMenuBG: #78A5D6;
@clrLink: #6C8FB6;

// Colors
@grdntClrStrt: #B5B5B5;
@grdntClrDflt: #959595;
@grdntClrEnd: #7D7D7D;
@clrInverse: @clrBackground;
@clrBdyBg:transparent;
@clrBdyTxt: #6D6E70;
@clrBgLg:#444444;
@clrBgCntnt:@clrMedium;
@clrCntntHeader:#3E3E3E;
@clrHdng: @clrBdyTxt;
@clrLg: #000;
@clrSlgn:@clrLg;
@clr_Menu: #FFFFFF;
@clrHVR_Menu: #57BDBD;
@clrLftClmn: @clrInverse;
@clrLftClmnLnk: #fff;
@clrRghtClmnHdng: #17670f;
@clrSdBrTxt:'';
@clrSdBrBg:@clrLight;
@clrCllutBxBg:#FFF;

// Background images
@bgMnu:'';
@bgHdr:'';
@bgMnBdy:'';
@bgFtr:'';
@bgBdy:'';
@bgHdrVrly:'';

// Padding
@pddngH1t6: 0px 0px 0px 0px;
@pddngMnu:0px 20px;
@pddngCntnt:15px;
@pddngSdbr:15px;
@pddngSpplmntl:10px 25px 5px 15px;
@pddngClltbx:10px;
@pddngScl:5px 10px;
@pddngP:0px 5px 0px 0px;
@pddngHdrP:0px;
@pddngMnu:8px 0px;

// Margin
@mrgnUl:5px 0px 10px 15px;
@mrgnOl:5px 0px 10px 15px;
@mrgnP:0px 0px 10px 0px;
@mrgnH1t6:5px 0px 10px 0px;
@mrgnPhn:0px 0px 0px 30px;
@mrgnSdbr:10px 5px;
@mrgnCntnt:10px 5px;
@mrgnScl:5px 10px;
@mrgnMnu:0px;
@mrgnSlgn:9px 0px 8px 5px;
@mrgnSpplmntl:0px 0px 10px 0px;

// Heights
@hdrBrFrstHt:15px;
@hdrBrScndHt:3px;
@mnHghtSdBr:0px;

// Etc.
@crnrClltbx:5px;
@pstnTpPhn:255px;
@txtTrnsfrmLg:uppercase;
@txtTrnsfrmSlgn:capitalize;
