// Fonts - http://www.google.com/webfonts
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@font-face {
  font-family: 'tahomabd';
  src: url('fonts/tahomabd.eot');
  src: local('☺'), url('fonts/tahomabd.woff') format('woff'), url('fonts/tahomabd.ttf') format('truetype'), url('fonts/tahomabd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font definitions
@fntFAM_Default: Verdana,Arial,Helvetica,sans-serif;
@fntFAM_Heading: "Source Sans Pro", Verdana,Arial,Helvetica,sans-serif;
@fntFAM_Menu: @fntFAM_Default;

@fntFmlyPhn: Arial;
@fntFAM_Menu: @fntFAM_Default;
@fntWghtMnu:bold;
@fntSzMnu:13px;
@fntSzLg:38px;
@fntSzSlgn:24px;
@fntSzH1:22px;
@fntWghtH1:300;
@fntSzH2:10px;
@fntSzH3:10px;
@fntSzH4:10px;
@fntSzH5:10px;
@fntSzH6:10px;
@fntSzPhn:1.2em;
@fntSzSdBr:10px;
@fntSzCpyrght:70%;
@fntStlCpyrght:italic;
@fntWghtLg:bold;
@fntWghtSlgn:bold;