@import "constants.less";

#menu {
  .rounded(10px);
  position: relative;
  font-weight: 400;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 25px;
  margin-bottom: 0;
  font-family: @fntFAM_Heading;
  background: @clrBackground;
}
#menu-bar {
  margin: 0;
  padding: 0;
  line-height: 100%;
  background: @clrBackground;
  max-width: 130px;
}
#menu-bar ul {
  background: @clrBackground;
  display: none;
  margin: 0;
  padding: 3px;
  width: 130px;
  position: absolute;
  top: 0;
  right: -130px;
  border: 1px solid @clrMenuBG;
  z-index: 2;
  .drop-shadow(3px, 3px, 5px, 0.4);
  .rounded(5px);
}
#menu-bar li {
  margin: 0;
  padding: 0 0 5px;
  list-style: none;
  position: relative;
  background: @clrBackground;
}
#menu-bar a {
  font-weight: 400;
  font-size: @fntSzMnu;
  color: @clrDark;
  text-decoration: none;
  display: block;
  padding: 4px;
  margin: 0;
}
#menu-bar .ancestor a,
#menu-bar .selected a,
#menu-bar .current a {
  background: @clrMenuBG;
  color: @clrInverse;
  .rounded(4px);
}
#menu-bar li:hover > a {
  background: @clrMedium;
  color: @clrDark;
  .rounded(4px);
}
#menu-bar li:hover li a {
  border: none;
  background: @clrBackground;
  color: @clrTextDk;
}

#menu-bar ul li:hover a {
  border: none;
  background: @clrMedium;
  color: @clrDark;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  font-size: 10px;
}
#menu-bar ul li:first-child > a {
}
#menu-bar ul li:last-child > a {
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: block;
}
html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}