@import "fluidable.less";
@import "constants.less";

/////////////////////////////////////////////////////////////////////
// Reset
* {
  margin: 0;
  padding: 0;
  border: 0px none #FFF;
}

/////////////////////////////////////////////////////////////////////
// Base elements
body {
  font-family: @fntFAM_Default;
  font-size: 11px;
  color: @clrText;
  line-height: 15px;
  background-color: @clrBdyBg;
  background-image: url(@bgBdy);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  a {
    text-decoration: none;
    color: @clrLink;
    img {
      border: 0;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  ol, ul {
    list-style: none inside;
    li {
      margin: @mrgnP;
      padding: 0;
    }
  }
  ol {
    margin: @mrgnOl;
  }
  ul {
    margin: @mrgnUl;
    list-style: disc outside;
    li {
      list-style-position: outside;
      list-style-image: url(../../bluesky_theme/img/listBullet.gif);
      }
    ul {
      margin: @mrgnUl;
      list-style: disc outside;
      li {
        list-style-image: url(../../bluesky_theme/img/bullet_lvl2.png);
      }
    }
  }
  p {
    margin: @mrgnP;
    padding: @pddngP;
    line-height: 15px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: @clrDark;
    padding: @pddngH1t6;
    margin: @mrgnH1t6;
  }
  h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h3, h4, h5, h6 {
    color: @clrText;
  }
  h1 {
    font-size: @fntSzH1;
    font-weight: @fntWghtH1;
    font-family: @fntFAM_Heading;
  }
  h2 {
    text-transform: uppercase;
    line-height: @fntSzH2;
    font-size: @fntSzH2;
  }
  h3 {
    line-height: @fntSzH3;
    font-size: @fntSzH3;
  }
  h4 {
    line-height: @fntSzH4;
    font-size: @fntSzH4;
  }
  h5 {
    line-height: @fntSzH5;
    font-size: @fntSzH5;
  }
  h6 {
    line-height: @fntSzH6;
    font-size: @fntSzH6;
  }
  img {
    width: 100%;
    height: auto;
  }
  hr {
    border-top-style: dotted;
    border-width: 1px;
    display: block;
    height: 0px;
//    margin-top: 0.5em;
//    margin-right: auto;
//    margin-left: auto;
//    margin-bottom: 30px;
    border-color: @clrDark;
  }
  form {
    color: @clrDark;
    font-size: 10px;
    line-height: 15px;
    input[type="text"], textarea {
      border: 1px solid @clrBorder;
      margin: 3px;
      background-color: @clrMedium;
      color: @clrText;
      font-size: 10px;
      height: 15px;
      width: 112px;
    }
  }
  table {
    width: 100%;
    tr {
      td {
        padding-right: 8px;
        vertical-align: top;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
// Specific classes, ID's and overrides

// ---- Fix oddities in the editor UI
.cms_placeholder-subnav-title li a {
  color: black !important;
}
// ---- Content Plugin Container styles
div.imagecontainer {
  display: inline-block;
  img.original_image {
    width: auto;
  }
}
div.txtPlugin {

  margin-bottom: 35px;
  clear: both;

  .imagecontainer.right {
    margin-left: 8px;
    margin-bottom: 10px;
  }

  .imagecontainer.left {
    margin-right: 8px;
    margin-bottom: 10px;
  }
}
// ---- Main layout styles
.container,
.footer_container {
  max-width: @maxWidth;
  position: relative;
  .center-block();
}
.container {
  .drop-shadow(-8px, 0px, 8px, .3);
  .rounded(10px);
  border-radius: 0 0 10px 10px;
}
// ---- Page layout styles
#header {
  padding-top: 10px;
  position: relative;
  margin: 0;
  p {
    padding: @pddngHdrP
  }
}
#headerbg {
  position: absolute;
  top: 0;
  left: 0;
}
#logo {
  font-size: @fntSzLg;
  font-weight: @fntWghtLg;
  text-transform: @txtTrnsfrmLg;
  color: @clrLg;
  position: relative;
  padding-left: 15px;
}
#content,
#sidebar {
  .rounded(10px);
  position: relative;
  margin: @mrgnCntnt;
}

#content {
  background-color: @clrMedium;
  padding: @pddngCntnt;
}
#sidebar {
  background-color: @clrLight;
  padding: @pddngSdbr;
  font-size: 10px;
  line-height: 12px;
}
#supplemental {
  div.txtPlugin {
    background-color: @clrDark;
    color: @clrInverse;
    .rounded(10px);
    padding: @pddngSpplmntl;
    margin: @mrgnSpplmntl;
    a:after {
        content:url(../../bluesky_theme/img/r_arrow.png);
    }
  }
  h1, h2, h3, h4, h5, h6, p, a {
    color: @clrInverse;
  }
}
// ---- Misc overrides
table.staff {
  border-top: 1px @clrBorder solid;
  tr {
    td:nth-child(1),
    td:nth-child(2) {
      width: 25%;
    }
    td:nth-child(3) {
      width: 6em;
    }
    td:nth-child(4) {
      width: 31%;
      text-align: right;
    }
  }
  tr:nth-child(odd) {
    background-color: @clrLight;
  }
  tr:nth-child(even) {
    background-color: @clrMedium;
  }
}
#social p {
  margin: @mrgnScl;
  padding: @pddngScl;
}
.cms_placeholder {
  float: none !important;
}
#logo {
    img {
        width: auto;
    }
}
#slogan {
  position: relative;
  p {
    font-size: @fntSzSlgn;
    font-weight: @fntWghtSlgn;
    text-transform: @txtTrnsfrmSlgn;
    color: @clrSlgn;
    line-height: @fntSzSlgn;
    margin: @mrgnSlgn;
  }
}
#qs {
  position: relative;
  padding-top: 40px;
}
span.file img {
  display: none;
}
#copyright {
  font-size: @fntSzCpyrght;
  font-style: @fntStlCpyrght;
  div#byline {
    text-align: right;
  }

}
// ---- Editor Styles
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}
.alignjustify {
  text-align: justify;
}
.calloutbox {
  background-color: @clrCllutBxBg;
  color: @clrText; .rounded(@crnrClltbx);
  padding: @pddngClltbx;
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.garnish {
  margin-left: -37px;
}
.sitenote {
  background-color: @clrCllutBxBg;
  color: red;
  .rounded(@crnrClltbx);
  padding: @pddngClltbx;
  clear: both;
  border: 1px dotted;
  h1 {
    color: red;
  }
}
.video.caption {
  text-align: center;
  font-size: 70%;
  font-style: italic;
}


/////////////////////////////////////////////////////////////////////
// Media and Device overrides
@media screen and (max-width: @maxWidth) {
  #headerbg {
    overflow: hidden;
    width: 100%;
  }
}
@media screen and (max-width: @minWidth) {
  .col-group [class*="col-"] {
    width: auto;
    float: none;
  }

  .col-group .col-content {
    margin: 0;
  }

  .col-group [class*="offset-"] {
    margin-left: 0;
  }

  .col-group {
    margin-left: 0;
  }
}

// image shadows
//.txtPlugin .imagecontainer {
//  .inner-shadow(0, 0px, 5px, 0.4);
//  z-index: 99;
//}
//.txtPlugin .imagecontainer img.original_image {
//  z-index: 1;
//}

// zinnia image shrink to fit width only
// AQA Plugin